.DS_Store

__pycache__/
.venv/
*.parquet
*.csv
*.crc
_SUCCESS


data/processed/
data/raw/
backups/

jars/*.jar
source/mlops/.ipynb_checkpoints
source/mlops/.Trash-0
.env

mlflow.db
mlruns/
final_model_spark/
model_name.txt